<div class="container card"><br>
    <div ><br>
        <div class="">
            <div class="b-text">
                <img [src]="username?.avatar_url" alt="">
            </div>
            
            <div>
                {{username?.login}}
            </div>
            <div>
                {{username?.location}}
            </div>
            <div>
                {{username?.company}}
            </div>
            <div>
                followers {{username?.followers}}
                following {{username?.following}}
            </div>
            <div>
            </div>
        </div>
    </div><br>
</div>
