<div class="container-fluid bg"><br>
    <div class=" row"><br>
        <div class="col-md-4 user">
            <div class=" b-text">
                <img [src]="username?.avatar_url" alt="">
            </div><br>
            <div class="git">
                <div class="text-start">
                    <h3>{{username?.name}}</h3>
                </div>
                <div>
                    {{username?.login}}
                </div>
                <div>
                    {{username?.bio}}
                </div>
                
                <div>
                    {{username?.followers}} Followers.
                    {{username?.following}} Following.
                </div>
                <div>
                    {{username?.company}}
                </div>
                <div>
                    {{username?.location}}
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/KibiegoEzekiel">@{{username?.twitter_username}}</a>
                </div>
            </div>

        </div>
        <div class="col-md-8 ">
            <div class="card" *ngFor="let repository of repository; let i = index ">
                <h4 class="text-center">{{repository.name}}</h4>
                <p>{{repository.description}}</p>
                <a href="{{ repository.html_url }}" target="_blank" class="text-center">View Repository</a>
            </div>
        </div>
    </div><br>
</div>
